* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(245, 245, 245);
}

.menu {
  background-color: rgba(255, 0, 0, 0.26);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-left {
  padding: 20px 50px;
}

.menu-middle {
  display: flex;
  align-items: center;
}

.menu-middle ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-middle li {
  display: inline-block;
  background-color: bisque;
  padding: 20px 50px;
  margin: 0;
}

.menu-middle a {
  text-decoration: none;
}

.menu-right {
  padding: 20px 50px;
  background-color: blue;
}

.content {
  margin: 0 10rem;
  background-color: white;
}

.myfarm-dashboard {
  display: flex;
  justify-content: center;
}

.myfarm-dashboard .myfarm-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

myfarm-dashboard .chart-sex {
  width: 300px;
}

.data-breeding {
  width: 100%;
  padding: 0 15px;
}

.data-breeding div {
  display: flex;
  justify-content: space-around;
}

.data-breeding span {
  display: flex;
  flex: 1;
  justify-content: center;
}

.data-telur {
  width: 100%;
  padding: 0 15px;
}

.data-telur div {
  display: flex;
  justify-content: space-around;
}

.data-telur span {
  display: flex;
  flex: 1;
  justify-content: center;
}

#data-leopard-gecko tr:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

#data-leopard-gecko .image-frame {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

#data-leopard-gecko .image-frame img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.form-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 10px;
}

.form-content div:first-child {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  max-width: 500px; */
}

.form-content > div {
  flex: 1;
  margin: 10px;
}

.dropzone {
  padding: 0 auto !important;
  position: relative;
}

/* Customize the Dropzone thumbnail container */
.dropzone .dz-preview {
  display: inline-block;
  vertical-align: top;
}

/* Display the thumbnails in a row layout */
.dropzone .thumbnails-container {
  display: flex;
  flex-wrap: wrap;
}

.dropzone .dz-preview .dz-image {
  width: 180px;
  height: 180px;
}

/* Customize the thumbnail image */
.dropzone .dz-preview .dz-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dropzone.dz-started .dz-message {
  display: block !important;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}
